In [133]:
from sklearn.utils import resample
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

# Load data
df = pd.read_csv('heart.csv')
df
# encoded_df = pd.get_dummies(df, columns=['Resting Blood Pressure', 'thalachh', 'oldpeak'])
# encoded_df

,age,sex,Chest Pain Type,Resting Blood Pressure,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [118]:
x = df.head(10)
resample(x, replace=True)

,age,sex,Chest Pain Type,Resting Blood Pressure,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
4,Average,0,0,Low,High,0,1,High,1,Average,2,0,2,1
6,Average,0,1,High,High,0,0,Average,0,Average,1,0,2,1
4,Average,0,0,Low,High,0,1,High,1,Average,2,0,2,1
3,Average,1,1,Low,236,0,1,High,0,Average,2,0,2,1
6,Average,0,1,High,High,0,0,Average,0,Average,1,0,2,1
0,Older,1,3,High,233,1,0,Average,0,High,0,0,1,1
3,Average,1,1,Low,236,0,1,High,0,Average,2,0,2,1
4,Average,0,0,Low,High,0,1,High,1,Average,2,0,2,1
0,Older,1,3,High,233,1,0,Average,0,High,0,0,1,1
0,Older,1,3,High,233,1,0,Average,0,High,0,0,1,1

In [134]:
from sklearn.utils import resample
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np


def Random_Forest_Fit(Training_Data, n_features, n_samples, n_estimators=100, max_depth=None, target = 'target'):
    trees = []
    for i in range(n_estimators):
        sample = resample(Training_Data, replace=True, n_samples=n_samples)
        X_train = sample.drop(target, axis=1)
        Y_train = sample[target]
        tree = DecisionTreeClassifier(max_depth=max_depth, max_features=n_features)
        features = resample(X_train.columns, replace=False, n_samples=n_features)
        X_train = X_train[features]
        tree.fit(X_train, Y_train)
        trees.append(tree)
    return trees

# def Random_Forest_Predict(X, trees):
#     predictions = np.zeros(len(X))
#     for tree in trees:
#         predictions += tree.predict(X)
#     return np.round(predictions / len(trees))
    
def Random_Forest_Predict(X, trees):
    predictions = np.zeros((len(X), len(trees)))
    for i, tree in enumerate(trees):
        features = tree.tree_.feature
        X_test = X[:, features]
        predictions[:, i] = tree.predict(X_test)
    final_predictions = []
    for i in range(len(X)):
        counts = np.bincount(predictions[i].astype(int))
        final_predictions.append(np.argmax(counts))
    return np.array(final_predictions)

# def Find_Best_Feature(features, X, Y):
#     best_feature = None

#     return best_feature

In [135]:
X = df.head(200)

X

,age,sex,Chest Pain Type,Resting Blood Pressure,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,59,1,0,170,326,0,0,140,1,3.4,0,0,3,0
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2,0
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3,0
198,62,1,0,120,267,0,1,99,1,1.8,1,2,3,0
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1,0

In [139]:
Y = df.tail(10)
Y

,age,sex,Chest Pain Type,Resting Blood Pressure,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [137]:
trees = Random_Forest_Fit(X, 5, 100, 100, 5, target='output')
trees

[DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5),
 DecisionTreeClassifier(max_depth=5, max_features=5)]

In [138]:
Random_Forest_Predict(Y, trees)

InvalidIndexError: (slice(None, None, None), array([ 4,  0, -2,  0, -2,  0,  4, -2, -2,  2, -2, -2,  4,  2, -2, -2,  0,
        0, -2, -2, -2], dtype=int64))

In [4]:
import pandas as pd
df = pd.read_csv('collegePlace.csv')
df

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1
...,...,...,...,...,...,...,...,...
2961,23,Male,Information Technology,0,7,0,0,0
2962,23,Male,Mechanical,1,7,1,0,0
2963,22,Male,Information Technology,1,7,0,0,0
2964,22,Male,Computer Science,1,7,0,0,0
2965,23,Male,Civil,0,8,0,0,1